
h1 {
   color: #013140;
   font-family: applegothic,roboto,arial,serif;
}

h2 {
   color: #013140;
   font-family: applegothic,roboto,arial,serif;
}

h3 {
   color: #013140;
   font-family: applegothic,roboto,arial,serif;
}

body {
   color: #013140;
   font-family: roboto,arial,serif;
}

p {
    text-align: justify;
}

body {
   color: #013140;
   font-family: roboto,arial,serif;
}

p {
    text-align: justify;
}
